@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<br />
<img src="~/images/KHSC1.jpg" alt="ASP.NET" class="img-responsive" /><br />
<p>
    Kurmitola High School and College (KHSC) is a co-educational Bangladeshi
    higher secondary school (Grade I-XII) situated in Khilkhet, Dhaka about 1 kilometre south
    of Shahjalal International Airport. The school provides education to its students in
    Bengali medium under the national curriculum. Students are admitted into the institution
    in first to twelfth grade. The school has 5000 students and employs 100 teaching staff and
    20 other staff.
</p>

<h2>History</h2>
<p>
    Kurmitola High School is one of the oldest high schools in Bangladesh that started its journey back in 1948. At first the school was weakly constructed in Khilkhet Tanpara Puran Bazar, but after 1960 it changed to a new location (where it stands today) and was permanently constructed near the center of Khilkhet Bazar.

    In 1971, during the war of liberation, the school was demolished by the Pakistani army, but, after independence, some local people rebuilt the school to give it its new shape. Now, Kurmitola High School is established as a high schools in central Dhaka where 4500 students are studying.
</p>

<h2>School Managing Committee</h2>

<li>MD. Abul Hossain (Chairman)</li>
<li>Al-hazz Abdul Malek Matabbur (Donor)</li>
<li>Taslima Akter Eti (Reserved Women Member)</li>
<li>Jahirul Islam (Guardian Member)</li>
<li> D.M. Nuzrul Islam (Guardian Member)</li>
<li>Amainul Islam (Guardian Member)</li>
<li>Ainun Naher (Reserved Women Teachers' Representative)</li>
<li>Shadona Dey (Teachers' Representative)</li>
<li>MD. Shahidul Islam (Teachers' Representative)</li>
<li>MD. Abdul Khalek (Head Master & Member Secretary</li>

<h2>Education</h2>
<p>
    KHS provides education to its students in the Secondary
    Bengali medium under the national curriculum. Students perform well
    in both SSC (public examination taken by students after completing grade 10)
    and also in Junior Scholarship Test
    (Government scholarship test for eighth graders).
</p>

<h2>Curriculum</h2>
<p>KHS follows the national curriculum which includes traditional lower secondary and secondary school academic subjects. Computer education is compulsory for students of grades 6-8 and optional for later grades. Students of secondary (9 and 10) classes elect to one of three major groups : Arts/Humanities, Business Studies and Science. Students of grade 10 are prepared for their SSC examinations. Selected students of grade 8 are prepared for their Junior Scholarship Test (Government scholarship test for eighth graders).</p>

<h2>Campus</h2>
<p>The KHS campus consists of two interconnected buildings and a sports ground. The first building and the second building are four stories and five stories high. The first five floors excluding the ground floor of both inter-connected buildings are used for academic purposes. The school canteen and administrative offices are in the ground floor. The ground is for playing cricket, football, badminton, and handball.</p>

<h2>Uniform</h2>
<p>All students wear uniform: Boys: blue Shirt, khaki pant and white shoe. Girls: blue frock, white Payjama, white Orna and white shoe.</p>

<h2>Sports</h2>
<p>K.H.S has outdoor facilities for inter-class football, cricket, handball and other competitions. Indoor games facilities include table tennis, carrom, chess and word making.</p>
