@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<br />
<img src="~/images/contact.png" />
<address>
    Address        : Ka-3-5, Khilkhet, Dhaka-1229<br />
    Phone          : 02-8912528 <br />
    Mobile         : +8801775227790<br />
    Email          : info@khs-bd.org <br />
    Web            : www.khs-bd.org <br />


</address>

<address>
    <strong>Facebook Page :</strong> <a href="https://www.facebook.com/KHSAC/">Kurmitola High School and College Official</a><br />
    <strong>Wikipedia:</strong> <a href="https://en.wikipedia.org/wiki/Kurmitola_High_School_%26_College">KHSC</a><br />
    <strong>Kurmitola High School and College</strong> <a href="http://khs-bd.org/">Official Web Site</a>
</address>
