<h1><center><b><i>Registry Pannel</i></b></center></h1>
<hr />

<img src="~/images/admission.jpg" alt="ASP.NET" class="img-responsive  " />

<ol class="1">
   <a asp-area="" asp-controller="AdmissionForms" asp-action="Index"><h4>1. Admission</h4></a>
</ol>
<hr />

<h1><center><b><i>Result Sysyem </i></b></center></h1>
<ol class="1">
    <li><a asp-area="" asp-controller="StudentInfoes" asp-action="Index">Add Student</a></li>
    <li><a asp-area="" asp-controller="ClassInfoes" asp-action="Index">Add Class</a></li>
    <li><a asp-area="" asp-controller="Enrollments" asp-action="Index">Enrollment</a></li>
    <li><a asp-area="" asp-controller="ExamInfoes" asp-action="Index">Add Exam</a></li>
    <li><a asp-area="" asp-controller="GroupInfoes" asp-action="Index">Add Group</a></li>
    <li><a asp-area="" asp-controller="ShiftInfoes" asp-action="Index">Add Shift</a></li>
    <li><a asp-area="" asp-controller="SectionInfoes" asp-action="Index">Add Section </a></li>
    <li><a asp-area="" asp-controller="TeacherInfoes" asp-action="Index">Add Teacher</a></li>
    <li><a asp-area="" asp-controller="SubjectInfoes" asp-action="Index">Add Subject </a></li>
    <li><a asp-area="" asp-controller="GradeInfoes" asp-action="Index">Add Grade </a></li>
</ol>
<hr />


<h1><center><b><i>Log in Sysyem </i></b></center></h1>
<ol class="1">
    <li><a asp-area="" asp-controller="UserAccounts" asp-action="Index">Add Login Account</a></li>
    <li><a asp-area="" asp-controller="UserRoles" asp-action="Index">Add User Role</a></li>
</ol>

<hr />
<h1><center><b><i>Account Management Sysyem </i></b></center></h1>
    
    <ol class="1">
        <li><a asp-area="" asp-controller="StudentPayments" asp-action="Index">Add Student Payment</a></li>
        <li><a asp-area="" asp-controller="GovernmentPayments" asp-action="Index">Add Government Payment</a></li>       
        <li><a asp-area="" asp-controller="StaffSalaries" asp-action="Index">Add Staff Salary</a></li>
        <li><a asp-area="" asp-controller="TeacherSalaries" asp-action="Index">Add Teacher Salary</a></li>
        <li><a asp-area="" asp-controller="StaffInfoes" asp-action="Index">Add Staff Info</a></li>
        <li><a asp-area="" asp-controller="OtherCostInfoes" asp-action="Index">Add Other Cost</a></li>
    </ol>
