<h1><center><b><i>Student Pannel</i></b></center></h1>
<hr />

<ol class="1">
    <li><a asp-area="" asp-controller="StudentView" asp-action="HalfYear">Half Year Result</a></li>
    <li><a asp-area="" asp-controller="StudentView" asp-action="YearFinal"> Year Final</a></li>
    <li><a asp-area="" asp-controller="StudentView" asp-action="Pretest"> Pretest Result</a></li>
    <li><a asp-area="" asp-controller="StudentView" asp-action="Test"> Test Result</a></li>
</ol>