<h1><center><b><i>Teacher Pannel</i></b></center></h1>
<hr />
<ol class="1">
    <li><a asp-area="" asp-controller="HalfYearResults" asp-action="Index">Add Half Year Result</a></li>
    <li><a asp-area="" asp-controller="FinalYearResults" asp-action="Index">Add Year Final Result</a></li>
    <li><a asp-area="" asp-controller="Pretests" asp-action="Index">Add Pretest Result</a></li>
    <li><a asp-area="" asp-controller="Tests" asp-action="Index">Add Test Result</a></li>
</ol>